<div class="row">
  <div class="large-9 column">
    <div id="map-canvas"></div>
  </div>
  <div class="large-3 column">
    <div class="side-nav">
      <h6 class="sub-nav-title">Filter/Search Functionality Goes Here</h6>
    </div>
  </div>
</div>

