<div class="row collapse left right">
  <div class="left large-12 columns">
    <div class="row collapse left right">
      <div class="left large-9 columns ">
        <div id="map-canvas"></div>
      </div>
      <div class="large-3 columns end right ">
        <div class="side-nav end right">
          <div class="buttons">
            <button class="button round alert" onclick="toggleHeatmap()">Toggle Heat Map</button>
            <button class="button round success" onclick="toggleDatapoints()">Toggle Data Points</button>
            <button class="button round success" onclick="toggleRape()">Toggle Rape</button>
            <button class="button round success" onclick="toggleBurglary()">Toggle Burglary</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
