<div class="row">
  <div class="left large-12 columns">
    <div class="row collapse">
      <div class="left large-9 columns">
        <div id="map-canvas"></div>
      </div>
      <div class="large-3 columns end right">
        <div class="side-nav end right">
          <h6 class="sub-nav-title">Filter/Search Functionality Goes Here</h6>
        </div>
      </div>
    </div>
  </div>
</div>

