<div class="row collapse left right">
  <div class="left large-12 columns">
    <div class="row collapse left right">
      <div class="left large-9 columns ">
        <div id="map-canvas"></div>
      </div>
      <div class="large-3 columns end right ">
        <div class="side-nav end right">
          <div class="buttons">
            <button class="button round alert" onclick="toggleDatapoints()">Toggle Data Points</button>
            <button class="button round success" onclick="toggleHomicide()">Homicide</button>
            <button class="button round success" onclick="toggleRape()">Rape</button>
            <button class="button round success" onclick="toggleRobbery()">Robbery</button>
            <button class="button round success" onclick="toggleAssault()">Assault</button>
            <button class="button round success" onclick="toggleBurglary()">Burglary</button>
            <button class="button round success" onclick="toggleTheft()">Theft</button>
            <button class="button round success" onclick="toggleGrandTheftAuto()">Grand Theft Auto</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
