<div class="row collapse left right">
  <div class="left large-12 columns">
    <div class="row collapse left right">
      <div class="left large-9 columns ">
        <div id="map-canvas"></div>
      </div>
      <div class="large-3 columns end right ">
        <div class="side-nav end right">
          <div class="buttons">
            <%= link_to "HeatMap", heatmap_path, :remote => true, class: "button round success" %>
            <%= link_to "Data Points", datapoints_path, :remote => true, class: "button round alert" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

