<div class="row">
  <div class="large-9 column">
    <div id="map-canvas"></div>
  </div>
  <div class="large-3 column">
    <div class="side-nav">
      <h6 class="sub-nav-title">Filter/Search Functionality Goes Here</h6>
    </div>
  </div>
</div>

<!-- <div id="map-json" style="display: none;">
  <%#= File.read(File.join(Rails.root, "config/data/map_data.json"))%>
</div> -->
