.side-nav {
  background: #6A5ACD;
  min-height: 100%;
  height: 656px;
  min-width: 100% !important;
}

#map-canvas {
  height: 656px;
}

.sub-nav-title {
  color: white;
  text-align: center;
  margin-top: 5%;
}

img {
  max-width: none;
}

html body #map-canvas{
  width: 100%;
}

.row {
  min-width: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
}

.buttons {
  width: 100%;
  margin: auto;
  padding-left: 7%;
}

.alert-box {
  z-index: -1;
  margin-bottom: -3px;
}